<!DOCTYPE HTML>
<html>
<head>
<script>
/*window.onload*/
var charty = function () {
    var x=document.getElementById("abc").value;
    document.getElementById("demo").innerHTML=x;

    var d = new Date(2020, 3, 1);

    var sarima_cim_j ={{ sarima_cin|safe }}
    var arr=[];
    var enddate=new Date(2020,6,1);
    for(var i=0;i<30; i++)
    {
        if (d === enddate) {break;}
        if (i < 10) {var obj={x: new Date(d), y: sarima_cim_j[i] };}
        else {var obj={x: new Date(d), y: pyhat[i] };}
        arr.push(obj);
        d.setDate(d.getDate() + 1)
    }

var momo=[{
		name: "Covid cases",
		type: "spline",
		yValueFormatString: "#0.## cases",
		showInLegend: true,
		dataPoints: arr
	}];
var chart = new CanvasJS.Chart("chartContainer", {

	animationEnabled: true,
	title:{
		text: "Covid Cases In India"
	},
	axisX: {
		valueFormatString: "DD MMM,YY"
	},
	axisY: {
		title: "Cases",
		includeZero: false,
		//suffix: " Cases"
	},
	legend:{
		cursor: "pointer",
		fontSize: 16,
		itemclick: toggleDataSeries
	},
	toolTip:{
		shared: true
	},
	data: momo
});
chart.render();

function toggleDataSeries(e){
	if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
		e.dataSeries.visible = false;
	}
	else{
		e.dataSeries.visible = true;
	}
	chart.render();
}
}
</script>
</head>
<body>
<p id="demo"></p>
<input type="text" id="abc">

<button onclick="charty()">Click me</button>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>*/
</body>
</html>